.card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
}
/* card.css */

.big-card {
    background-color: #E6ECF0;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 280px;
    height: 816px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.big-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}
.big-card-header h2 {
    font-weight: 700;
    font-size: 1.125rem;
}
.big-card-header span {
    font-size: 0.875rem;
    color: black;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
}


.task-card {
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 0.2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task-card h3 {
    font-weight: 600;
    margin-top: 10px;
}

.task-card p {
    font-size: 15px;
    color: black;
    margin-top: 0.5rem;
}

.task-card-meta {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.75rem;
    color: black;
}
.task-count{  
    background-color: #D5D5D5;
    color: black;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: bold;
}
.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 0.5rem 0;
}